<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Document</title>
  </head>
  <body class="flex flex-col">
    <nav
      class="absolute flex justify-between items-center h-12 w-screen px-12 bg-purple-500"
    >
      <h1>Blank Social</h1>
      <div>
        <button class="mr-2 openModal" id="">Create Post</button>
        <a href="/logout">logout</a>
      </div>
    </nav>
    <main class="flex flex-col items-center h-screen pt-12">
      <% for(let i=0; i < posts.length; i++) {%>
      <div class="posts flex flex-col" data-id="<%= posts[i]._id %>">
        <span class="userId text-purple-600"><%= posts[i].userId %></span>
        <span class="post-text"><%= posts[i].caption %></span>
        <div>
          <span class="likes"><%= posts[i].likes %></span>
          <span class="like">Like</span>
        </div>
        <!-- Display delete button if user_id is same -->
        <!-- <span class="delete">[X]</span> -->
      </div>
      <% } %>
    </main>

    <!-- CREATE NEW POST MODAL -->
    <div
      class="postModal hidden absolute top-36 z-10 w-[96] sm:w-[600px] self-center"
    >
      <div class="content">
        <span class="close font-bold text-2xl float-right">&times</span>
        <form
          class="flex flex-col items-center"
          action="/feed/createPost"
          method="POST"
        >
          <input id="img_upload" class="self-start" type="file" name="image" />
          <img id="img_preview" src="#" alt="your image" name="image" />
          <input
            class="w-full my-6 border-2 border-gray-400"
            type="text"
            name="caption"
            placeholder="caption"
          />
          <input
            class="w-24 border-2 border-grey-200 p-1 px-3 hover:border-green-300 hover:cursor-pointer rounded-md transition-colors"
            type="submit"
            value="Submit"
          />
        </form>
      </div>
    </div>

    <script src="./js/main.js"></script>
  </body>
</html>
