<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="flex justify-between items-center h-12 px-12 bg-purple-500">
      <h1>Blank Social</h1>
      <div>
        <a class="mr-2" href="/logout">Create Post</a>
        <a href="/logout">logout</a>
      </div>
    </nav>
    <main class="flex justify-center mt-12">
      <h3>User feed</h3>
    </main>
  </body>
</html>
