<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Blank Social</h1>
    <main>
      <p class="text-red-700 text-lg">tesing</p>
      <div><a href="/login">login</a> <a href="/signup">signup</a></div>
    </main>
  </body>
</html>
