<%- include('partials/header') -%>
<div id="wrapper" class="z-0" data-configuration="1" data-roundness="1">
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<script src="./js/shapes.js"></script>
<main class="z-10">
  <div
    class="h-[400px] w-[300px] sm:w-[450px] flex flex-col justify-center items-center p-12 sm:p-32 shadow-xl bg-[#FCA311] rounded-3xl"
  >
    <h3 class="text-black text-3xl mb-5">Login</h3>
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="alert alert-danger text-red-500 mb-2"><%= el.msg %></div>
    <% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach(
    el => { %>
    <div class="alert alert-danger text-red-500 mb-2"><%= el.msg %></div>
    <% }) %> <% } %>
    <div class="mb-5">
      <form action="/login" method="POST" class="flex flex-col">
        <input class="m-1 p-2" type="text" name="email" placeholder="email" />
        <input
          class="m-1 mt-0 p-2"
          type="password"
          name="password"
          placeholder="password"
        />
        <input
          class="bg-[#FDFDFD] active:bg-green-300 border-2 border-grey-200 p-1 px-3 hover:border-green-300 hover:cursor-pointer rounded-md transition-colors"
          type="submit"
          value="Submit"
        />
      </form>
    </div>
    <a class="hover:animate-pulse duration-75" href="/">back</a>
  </div>
</main>
<%- include('partials/footer') -%>
