<%- include('partials/header') -%>
<main class="h-screen w-full flex flex-col justify-center items-center">
  <div class="flex flex-col p-32 border-2 border-gray-200">
    <h3 class="mb-6 text-red-600 text-3xl self-center">Sign-up</h3>
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="mt-2 text-red-500"><%= el.msg %></div>
    <% }) %> <% } %>
    <div class="flex flex-col mt-2">
      <form class="flex flex-col" action="/signup" method="POST">
        <input
          class="m-2 p-2"
          type="text"
          name="userName"
          placeholder="Username"
        />
        <input
          class="m-2 p-2"
          type="text"
          name="firstName"
          placeholder="First name"
        />
        <input
          class="m-2 p-2"
          type="text"
          name="lastName"
          placeholder="Last name"
        />
        <input class="m-2 p-2" type="text" name="email" placeholder="Email" />
        <input
          class="m-2 p-2"
          type="text"
          name="dob"
          placeholder="Date of Birth"
        />
        <input
          class="m-2 p-2"
          type="text"
          name="password"
          placeholder="Password"
        />
        <input
          class="m-2 p-2"
          type="text"
          name="confirmPassword"
          placeholder="Confirm password"
        />
        <input
          class="border-2 border-grey-200 p-1 px-3 hover:border-green-300 hover:cursor-pointer rounded-md transition-colors"
          type="submit"
          value="Submit"
        />
      </form>
    </div>
    <a class="hover:animate-pulse duration-75" href="/">back</a>
  </div>
</main>
<%- include('partials/footer') -%>
